
<head>
  <title>Gacha Sim 4500 PRO</title>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link href="./dist/styles/styles.css" rel="stylesheet"></link>
</head>

<body>
  <div id="app">
    <!-- <div @keypress.r="reroll" @keypress.b="battle" style="height: 100%; width: 100%"> -->
    <div>
      <div class="title">
        <div class="bgImage">
          <img src="./dist/assets/Plank_12_bg.png" />
        </div>
        <p class="titleText">
          Gacha Tournament
        </p>
      </div>      
      <div class="statsBox">
        <div class="bgImage">
          <img src="./dist/assets/frame_c2_01.png">
        </div>
        <div class="stats">
          <p class="topText">Rerolls: {{totalRerolls}}</p>
          <p>Wins: {{victoryCount}}</p>
        </div>
      </div>
      <div class="characterBox">
        <div class="bgImage">
          <img src="./dist/assets/Plank_08.png"/>
        </div>
        <div class="charDetails">
          <p>
            Current unit: {{ currentUnit.name }}
            <span class="gemBox" v-for="n in currentUnit.stars">
              <img src="./dist/assets/gem.png"/>
            </span>
          </p>
          <p>
            Max attack: {{ currentUnit.max }}
          </p>
        </div>
      </div>
  
      <div class="buttonsBox">
        <div class="largeButton" @click="reroll">
          <div class="bgImage">
            <img src="./dist/assets/147_t.png" />
          </div>
          <p class="buttonText">
            Reroll
          </p>
        </div>
        <div class="largeButton" v-if="!gameover" @click="battle">
          <div class="bgImage">
            <img src="./dist/assets/Tex_badge_33.png" />
          </div>
          <p class="buttonText">
            Battle
          </p>
        </div>
        <div class="ghostButton" v-if="gameover"></div>
      </div>
  
      <div v-if="battleMode" class="battleScreen">

        <div class="characterBox">
          <div class="bgImage">
            <img src="./dist/assets/Plank_08.png"/>
          </div>
          <div class="charDetails">
            <p>
              The Enemy: {{currentEnemy.name}}
              <span class="gemBox" v-for="n in currentEnemy.stars">
                <img src="./dist/assets/gem.png"/>
              </span>
            </p>
            <p>
              Max attack: {{ currentEnemy.max }}
            </p>
          </div>
        </div>

        <br>


        <div class="characterBox bigger">
          <div class="bgImage">
            <img src="./dist/assets/Plank_08.png"/>
          </div>
          <div class="charDetails">
            <p>You rolled a {{playerRoll}}!</p>
            <p>The enemy rolled a {{enemyRoll}}!</p>
            <p>{{result}}</p>
          </div>
        </div>

      </div>
  
      <br>
      <br>
    </div>
    </div>

  <script src="./dist/scripts/gachaSim.js"></script>

</body>